.footer {
    padding: 20px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__copyrights {
        margin-bottom: 0;
    }

    &-social {
        
        &__list {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
        }

        &__item {
            margin-left: 16px;
        }

        &__link {
            color: #000;
            transition: all .25s ease-in-out;
        }
    }
}


@media screen and (max-width: 575px) {
    .footer { 
        font-size: 14px;       
        &-social {
            &__list {
                flex-direction: column;
            }

            &__item {
                margin-left: 0;
                margin-bottom: 6px;
            }
        }
    }    
}